<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="../components/styles.css">
    <title>pie </title>
</head>

<body class="main-body">
    <nav class="">
        <ul class="d-flex flex-row justify-content-center align-items-center p-2 mt-4 m-3 ">
            <li class=" li nav-item list-unstyled"><a href="#" class=" a text-decoration-none">about</a></li>
            <button class="btn pie-btn m-5">welcome to pie</button>
            <li class=" li nav-item list-unstyled"><a href="#" class=" a text-decoration-none">services</a></li>
        </ul>
        <h1 class="d-flex justify-content-center align-items-center pie-h">PIE</h1>
    </nav>
    <div class="">
        <h1 class="text-light d-flex flex-row justify-content-center align-items-center">our team</h1>
        <div class="testimonial-div d-flex flex-row flex-wrap justify-content-center m-5">
            <div class=" d-flex flex-column justify-content-center align-items-center div-cover m-2">
                <img src="" alt="" class="t-img">
                <h1>jaswanth</h1>
                <h5>developer</h5>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center div-cover m-2 ">
                <img src="" alt="" class="t-img">
                <h1>shaik</h1>
                <h5>developer</h5>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center div-cover m-2">
                <img src="" alt="" class="t-img">
                <h1>sudharsan</h1>
                <h5>designer</h5>
            </div>
        </div>
    </div>
    <section class="ino row d-flex align-items-center  justify-content-start ">
        <div class=" ino-div col-6 d-flex flex-column flex-wrap ms-5">
            <h1  class="ino-h1 text-light">innovation</h1>
            <p class="text-light">Countless businesses have entrusted us to elevate their web presence. Through a combination of bleeding-edge technology and a sprinkle of creative magic, we transform ideas into reality!</p>
        </div>


    </section>
    <h1 class="d-flex align-items-center  justify-content-center text-light">testimonial</h1>
    <section class="testimonial d-flex flex-wrap align-items-center justify-content-center">
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img d-flex flex-wrap ">
            <h1 class="text-light">Jaswanth</h1>
            <h6 class="p-1 text-light">Exceptional web design! Transformed our online presence and boosted user engagement. Highly recommended</h6>

        </div>
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img">
            <h1>Hari</h1>
            <h6>developer</h6>

        </div>
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img">
            <h1>Shaik</h1>
            <h6>developer</h6>

        </div>
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img">
            <h1>Tharun</h1>
            <h6>developer</h6>

        </div>
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img">
            <h1>Sudharsan</h1>
            <h6>developer</h6>

        </div>
        <div class="div-cover d-flex justify-content-center flex-column align-items-center">
            <img src="" alt="" class="t-img ">
            <h1>Illavarasan</h1>
            <h6>developer</h6>

        </div>


    </section>
</body>

</html>