 @import url('https://fonts.googleapis.com/css2?family=Labrada&family=Nunito+Sans:opsz,wght@6..12,300&family=Nunito:wght@200&family=Poppins:wght@300;400&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.main-body {
    background-color: black;
}

.a {
    color: orangered;
}

.li {
    color: orangered;
}

.pie-btn {
    color: orangered;
    border: 1px solid orangered;
    border-radius: 20px;
}

.pie-btn:hover {
    color: red;
}

.pie-h {
    font-size: 40vh;
    width: 100%;
    height: 50vh;
    color: orangered;
}
.t-img {
    background-color: white;
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
}
.div-cover {
    background-color: orangered;
    height: 40vh;
    width: 40vh;
    border-radius: 10px;
    margin: 3vh;
}
.div-cover:hover {
    border-radius: 13px;
}
.ino {
    width: 100%;
    height: 40vh;
}
.ino-h1 {
    font-size: 40px;
    color: black;
}
.ino-div {
}
.testimonial {
    width: 100%;
    height: 30vh;
}